.App {
  font-family: sans-serif;
  text-align: center;
}

.text{
 font-family: sans-serif;
 background: linear-gradient(to bottom, #26A39A, #fd57bf);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  text-transform: uppercase;
}

.checkboxCon {
  width: 120px;
  height: 120px;
  border: 10px solid #26A39A;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkboxCon:hover {
  animation: shake 0.2s linear 3;
}

@keyframes shake {
  0% {
    transform-origin: bottom center;
    transform: rotate(-5deg);
  }
  50% {
    transform-origin: bottom center;
    transform: rotate(5deg);
  }
  100% {
    transform-origin: bottom center;
    transform: rotate(0deg);
  }
}
